{% extends 'base.html' %}

{% block content %}

    <style>

        .testing{
            background-color: yellow;
            height : 48px;
            width: 48px;
            border-radius: .5rem;
            margin: 1rem;
        }

    </style>


    <div style="height: 20rem;
         background-color: aqua;
         border-radius: 1rem;
         margin: 2rem;
         overflow: scroll">
        <h1>
            test
        </h1>

    <div class = "testing" style="display: inline-block">inline-block</div>
    <div class = "testing" style="display: inline-block; width: 3rem; height: 3rem">inline-block</div>
    <div class = "testing" style="display: inline-block; width: 3em; height: 3em">inline-block</div>
    <div class = "testing" style="display: inline-block; width: 30%; height: 30%">inline-block</div>
    </div>

{% endblock %}