.jhn_header_logo{
    margin: 2rem 0;
    font-family: 'Gochi Hand', cursive;
}

.jhn_header_btn{
    margin-bottom: 2rem;
}

.jhn_footer_btn{
    font-size: .8rem;
    margin: 1.5rem;
}

.mw-500 {
    max-width: 500px;
    padding: 1rem 1.5rem;
}

.profile_image{
    height: 12rem;
    width: 12rem;
    border-radius: 20rem;
    object-fit: cover;
}